# local build outputs (anda build leaves anda-build/ behind)
anda-build/
tmp/
# local work artefacts
.obsidian/
TaskNotes/
*.tar.gz
*.tar.bz2
*.rpm
*.zst
__pycache__/
# texlive-pkg tlpdb fetch cache
.cache/
